<h1>Dashboard</h1>
<a href="/new-post">Create New Post</a>
{{#each posts}}
  <div class="post">
    <h2>{{title}}</h2>
    <p>{{content}}</p>
    <small>Posted by {{user.username}} on {{createdAt}}</small>
    <a href="/edit-post/{{id}}">Edit Post</a>
  </div>
{{/each}}


